.editor-styles-wrapper {
  @import "common/variables";
  @import "./autoload/**/*";
  @import "common/global";
  @import "components/buttons";
  @import "components/comments";
  @import "components/forms";
  @import "components/offcanvas";
  @import "components/wp-classes";
  @import "layouts/header";
  @import "layouts/sidebar";
  @import "layouts/footer";
  @import "layouts/pages";
  @import "layouts/posts";
  @import "layouts/tinymce";
  @import "theme/typography";
  @import "hacks";

  // Main column width
  // This changes it from the default 580px to 960px
  .wp-block {
    max-width: 960px;
  }

  // Width of "wide" blocks
  // This changes it from the default 1080px to 1440px
  .wp-block[data-align="wide"] {
    max-width: 1440px;
  }

  // Editor body colors.
  .block-editor-writing-flow {
    color: #343a40;
    background-color: #f8f9fa;
  }
}
